<header>
    <h1 class="site-title">CSE Motors</h1>
    <nav class="main-nav">
        <%- nav %>
    </nav>

    <div class="account-link">
        <% if (user) { %>
            <!-- Usuário logado -->
            <a href="/account/management">Account Management</a>
            <a href="/account/logout">Logout</a>
            <% } else { %>
                <!-- Usuário não logado -->
                <a href="/account/login">Login</a>
                <a href="/account/register">Register</a>
                <% } %>
    </div>
</header>