<header>
    <h1 class="site-title">CSE Motors</h1>
    <nav class="main-nav">
        <%- nav %>
    </nav>
    <div class="account-link">
        <a href="/account/login">My ACCOUNT</a>
    </div>
</header>