<h1>
    <%= title %>
</h1>
<% if (errors && errors.length> 0) { %>
    <ul>
        <% errors.forEach(error=> { %>
            <li>
                <%= error %>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <form action="/inv/add-classification" method="post">
            <label for="classification_name">Classification Name:</label>
            <input type="text" id="classification_name" name="classification_name" pattern="^[A-Za-z]+$"
                required>
            <p>No spaces or special characters allowed.</p>
            <button type="submit">Add Classification</button>
        </form>