<h1>Delete Vehicle</h1>
<p>Are you sure you want to delete <%= inv_make %>
        <%= inv_model %>?</p>

<form action="/inv/delete" method="post">
    <input type="hidden" name="inv_id" value="<%= inv_id %>">
    <button type="submit">Confirm Delete</button>
</form>